---
# tasks file for roles/mongodb-server
- name: install mongodb-server
  become: yes
  package:
    name: mongodb-server
    state: installed

- name: install mongodb
  become: yes
  package:
    name: mongodb
    state: installed

- name: start mongod service
  become: yes
  systemd:
    name: mongod
    state: started

- name: Fetch the todoapp file that requires authentication username/password
  become: true
  become_user: todoapp
  get_url:
    url: https://acit4640.y.vu/docs/module06/resources/mongodb_ACIT4640.tgz
    dest: /home/todoapp
    username: BCIT
    password: w1nt3r2020

- name: Unzip mongodb_ACIT4640 folder
  become: true
  become_user: todoapp
  unarchive:
    src: /home/todoapp/mongodb_ACIT4640.tgz
    dest: /home/todoapp/
    remote_src: yes

- name: Mongo restore
  become: yes
  command: mongorestore -d acit4640 ACIT4640/
  args:
    chdir: /home/todoapp

- name: provision the database config file
  become: yes
  template:
    src: database.js
    dest: /home/todoapp/app/config/