---
# tasks file for roles/git
- name: install git
  become: yes
  package:
    name: git
    state: installed

- name : Add a user todoapp
  become: yes
  user:
    name: todoapp
    password: "{{ 'P@ssw0rd' | password_hash('sha512') }}"

- name: Clone app folder
  become: true
  become_user: todoapp
  git:
    repo: https://github.com/timoguic/ACIT4640-todo-app.git
    dest: /home/todoapp/app
    clone: yes
    force: yes